body {
    background: #fff;
    margin: 0;
}

header{
    position: relative;
    top: 0;
    margin: auto;
    max-width: 1170px;
}

nav {
    background-color: transparent;
    padding-top: 56px;
    /*padding-left: 135px;
    padding-right: 48px;
    text-align: center;
    display: inline;*/
 }

 nav li {
    display: inline;
    list-style-type: none;
    padding: 0 0 0 45px;
    
}

nav ul {
    /*margin-left: 480px;*/
    text-align: right;
}

nav a {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    margin-top: 30px;
}

nav img{
    position: absolute;
    margin: 1em 1em 1em 0;
}

.flex{
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
}

/*section1*/

.hero .left{
    margin-left: 135;
    padding-top: 100px;
    width: 50%;
}

.hero .left h1{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 1.25em;
    color: #444;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
}

.hero .left p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.5em;
    color: #959595;
    margin-right: 154px;
    padding-top: 46px;
}

.reserv a{
    text-decoration: none;
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.5em;
    color: #fff;
    padding: 5px 10px;

}

.reserv{
    position: relative;
    top: 0px;
    background: #196046;
    padding: 22px 48px;
    display: inline-block;
    margin-top: 66px;
}

.hero .right{
    width: 50%;
    box-sizing: border-box;
}

.hero .right{
    z-index: -1;
    margin-left: -85px;
    margin-top: 70px;
}

/*section2*/

.wwa h5{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5em;
    color: #8BD19E;
    text-align: center;
    margin-top: 80px;
}

.wwa h2{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 1.5em;
    color: #444;
    text-align: center;
    padding: 44px 71px 0px;
}

/*galeri*/

.galeri{
    padding-top: 105px;
}

.galeri .kiri{
    padding-right: 30px;
    width: 42.7%;
    box-sizing: border-box;
}

.img1{
    margin-right: 30px;
    width: 100%;
}

.galeri .kanan{
    width: 57.3%;
    box-sizing: border-box;
}

.galeri-row{
    display: flex;
    box-sizing: border-box;
}

.g1{
    width: 44.7%;
    padding-right: 30px;
}

.img2{
    display: block;
    width: 100%;
}

.g2{
    width: 55.3%;
}

.img3{
    display: block;
    padding-bottom: 30px;
}

.g3{
    width: 25%;
}

.img4{
    display: block;
}

.g4{
    width: 75%;
}

.img5{
    display: block;
    margin-left: 30px;
}

/*section4*/

.ourspace {
    margin-top: -135px;
    background-color: #196046;
    padding-bottom: 40px;
}

.satu {
    padding-top: 200px;
}

.hidari{
    box-sizing: border-box;
    width: 70%;
}

.title h1 {
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 1.5em;
    color: #fff;
}

.number1{
    display: flex;
    padding-top: 105px;
    padding-left: 80px;
}

.number2{
    display: flex;
    padding-top: 84px;
    padding-left: 80px;
}

.hidari .a{
    box-sizing: border-box;
    width: 50%;
}

.hidari .b{
    box-sizing: border-box;
    width: 50%;
}

.hidari h5{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 1.5em;
    /* identical to box height */
    color: #fff;
    text-align: left;
    margin: 0 0 10px 0;
    padding: 0;
}

.text p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.5em;
    color: #fff;
    margin: 60px 0 0 0;
    padding: 0 0 73px 0;
}

.hidari p{
    font-family: Poppins;
    font-style: normal;   
    font-weight: normal;
    font-size: 26px;
    line-height: 1.5em;
    color: #fff;
    margin: 0px;
    padding: 0px;
}

.pic {
    margin-bottom: -130px;
}

/*section5*/

.monial h5{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5em;
    text-align: center;
    color: #8BD19E;
}

.monial h2{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 1.25em;
    color: #444;
    text-align: center;
    padding: 44px 71px 0px;
}

.testimoni{
    margin-top: 160px;
}

/*section6*/

.row {
    width: 100%;
}

.testimoni .profile{
    background: #F4FBF2;
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: border-box;
    width: 33.3%;
    display: table-cell;
    position: relative;
    padding-bottom: 156px;
}

.profile p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.5em;
    color: #4C4C4C;
    margin: 35px 31px 0 32px;
}

.profile-name{
    padding-left: 110px;
    bottom: 40px;
    position: absolute;
}

.profile-name h2 {
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #4C4C4C;
    margin: 0px;
}

.profile-name p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5em;
    color: #4C4C4C;
    margin: 0px;
}

.profile-name img{
    position: absolute;
    left: 32px;
    bottom: -6px;
}


/*section7*/

.promo{
    background: #196046;
    margin-top: 100px;
}

.promo .left {
    width: 70%;
    margin-top: 119px;
    box-sizing: border-box;
    position: relative;
}

.promo .right{
    width: 30%;
    box-sizing: border-box;
}

.promo .left h1{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5em;
    color: #8BD19E;
}

.promo .left h2{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 1.25em;
    color: #FFFFFF;
}

.promo .right .promoimg{
    display: block;
    margin-top: 70px;
    margin-left: 8px;
}

form{
    position: relative;
}

form .email{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.25em;
    color: #959595;
    padding: 35px 390px 35px 28px;
}

form button{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5em;
    color: #FFFFFF;
    background: #2C976D;
    border: none;
    padding: 20px 70px;
    position: absolute;
    right: 56px;
    margin: 17px;
}

/*footer*/

footer{
    padding-top: 190px;
    padding-bottom: 138px;
}

.desc{
    width: 40%;
}

.desc h3{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #8BD19E;
    margin: 0;
}

.desc p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.25em;
    color: #959595;
    margin: 57px 110px 0 0;
}

.info{
    width: 20%;
}

.info .empat{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5em;
    color: #000000;
    margin: 0;
}

.pilihan{
    margin-top: 57px;
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5em;
    color: #959595;
}

.imglogo {
    margin-top: 52px;
}

.imglogo img{
    padding-right: 43px;
}

/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {*/
    @media only screen and (max-width: 1024px) {

    /* header */

    header{
        max-width: 800px;
    }

    nav a{
        font-size:18px;
    }

    /* section */
    .flex{
        max-width: 800px;
    }
    
    .hero .left h1{
        font-size: 36px;
        padding-bottom: 0;
    }

    .hero .left p{
        font-size:16px;
        /* padding-top:39px; */
        margin-right: 85px;
        padding-top: 15px;
    }

    .reserv{
        padding: 11px 24px;
        margin-top: 33px;
    }

    .reserv a{
        font-size: 12px;
        padding: 4px 8px;
    }

    .hero .right .au{
        width: 457px;
        margin-left: 28px;
    }
    
    /* section2 */

    section .wwa{
        padding-top:60px;
    }

    .wwa h5{
        font-size:22px;
        margin-top: 40px;
    }

    .wwa h2{
        font-size: 30px;
        padding: 22px 33px;
        margin: 0;
    }

    /* section3 */

    .kiri{
        padding-right: 20px;
    }

    .img1{
        width: 103%;
    }

    .g1{
        padding-right: 20px;
        width:40.7%;
    }

    .img3{
        padding-bottom: 20px;
        width: 100%;
    }

    .g3{
        padding-right: 20px;
        width:27.5%;
    }

    .img4{
        width:100%;
    }

    .g4{
        width:75.7%;
    }

    .img5{
        width:100%;
        margin: 0;
    }

    /* section4 */

    .ourspace{
        padding-bottom: 0;
    }

    .hidari{
        width: 60%;
    }

    .title h1{
        font-size: 32px;
        line-height:35px;
    }

    .number1{
        padding: 30px 0 0 70px;
    }
    
    .hidari h5{
        font-size:30px;
        line-height:30px;
    }

    .hidari p{
        font-size:20px;
        line-height:25px;
    }

    .number2{
        padding:30px 0 0 70px;
    }
     
    .tadashi{
        width:40%;
        padding-left: 35px;
    }

    .text p{
        font-size:12px;
        margin: 40px 0 0 0;
        padding: 0 0 45px 0;
    }

    .pic .uwau{
        width:275px;
        margin-bottom: 47px;
    }

    /* section5 */

    .testimoni{
        margin-top:125px;  
    }

    .monial h5{
        font-size: 22px;
        line-height: 40px;
    }

    .monial h2{
        font-size:30px;
        line-height:35px;
        margin-bottom: 50px;
    }

    .profile{
        width:100%;
    }

    .profile p{
        margin: 25px 16px 0 16px;
        font-size: 14px;
    }

    .profile-name{
        padding-left: 85px;
        bottom: 30px;
    }

    .profile-name img {
        left: 16px;
        bottom: -5px;
    }

    .profile-name h2 {
        font-size:11px;
        line-height:15px;
    }

    .profile-name p{
        font: size 11px;
        margin: 0px;
    }

    /* section6 */

    .promo{
        margin-top:190px;
    }
    .promo .left h1{
        font: size 22px;
        margin: 0;
    }

    .promo .left h2{
        font-size: 35px;
        padding: 25px 0;
        margin: 0;
    }

    form .email{
        font-size: 22px;
        line-height: 25px;
        padding: 25px 215px 25px 15px;
    }

    form button{
        font-size: 22px;
        line-height: 25px;
        right: 8px;
        margin: 17px;
        padding: 10px 35px;
    }

    .promo .right img{
        width: 323px;
    }

    /* footer */

    .desc h3{
        font-size: 22px;
        line-height: 25px;
    }

    .desc p{
        font-size: 19px;
        margin: 50px 50px 0 0;
    }

    .imglogo{
        margin-top:15px;
    }

    .imglogo img{
        padding-right: 35px;
        width: 30px;
    }

    .info .empat{
        font-size: 22px;
        line-height: 25px;
    }

    .pilihan{
        margin-top:45px;
    }

    .pilihan a{
        font-size: 19px;
        line-height: 25px;
    }

}


@media only screen and (max-width: 767px) {

    header{
        max-width: 660px;
    }

    nav a{
        font-size: 14px;
    }

    nav li{
        padding: 0 0 0 30px;
    }

    .flex {
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .hero .left h1{
        font-size: 29px;
    }

    .hero .left p{
        font-size: 12px;
    }

    .hero .right .au{
        width: 387px;
    }

    .reserv {
        margin-top: 60px;
    }

    .reserv a{
        padding: 4px 5px;
    }

    .wwa h5{
        font-size: 17px;
        margin: 0;
    }


    .wwa h2{
        font-size: 24px;
    }

    .img1{
        width: 105%;
    }

    .title h1{
        font-size: 25px;
    }

    .text p{
        margin: 35px 0 0 0;
    }

    .hidari p{
        font-size: 16px;
    }

    .hidari h5{
        font-size: 25px;
    }

    .monial h5{
        font-size: 17px;
        margin: 0;
    }

    .monial h2{
        font-size: 25px;
        padding: 0;
    }

    .row p{

    }

    .profile-name p{
        font-size: 10px;
    }

    .profile-name h2{
        font-size: 9px;
    }

    .promo .left h2{
        font-size: 25px;
    }

    form .email{
        font-size: 14px;
        padding: 15px 232px 15px 15px;
    }

    form button {
        font-size: 14px;
        right: 34px;
        margin: 11px;
        padding: 6px 25px;
    }

    .promo {
        margin-top: 60px;
    }

    .promo .right img{
        width: 243px;
    }

    .desc h3{
        font-size: 20px;
    }

    .info .empat{
        font-size: 20px;
    }

    .desc p{
        font-size: 17px;
    }

    .pilihan {
        font-size: 17px;
    }

    .imglogo{
        margin-top: 25px;
    }

    footer{
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .galeri{
        margin-top: -60px;
    }

    .number1{
        padding: 30px 0 0 30px;
    }

    .number2{
        padding: 30px 0 0 30px;
    }

}

@media only screen and (max-width: 479px) {


    header{
        max-width: 400px;
    }

    .flex{
        /*max-width: 400px;*/
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    nav {
        padding-top: 26px;
    }

    nav img{
        width: 30%;
        margin: 19px 1em 1em 0;
    }
    
    nav li{
        padding: 0 0 0 15px;
    }

    .hero{
        margin-top: -40px;
    }

    .hero .left h1{
        font-size: 18px;
        margin-top: -23px;
    }

    .hero .left p{
        margin-right: 6px;
    }

    .hero .right .au{
        width: 189px;
        margin-left: 96px;
    }

    section .wwa{
        padding-top: 30px;
    }

    .reserv{
        margin-top: 0;
        padding: 6px 12px;
    }

    .wwa h5{
        font-size: 14px;
        margin-top: 40px;
    }

    .wwa h2{
        font-size: 16px;
    }

    .img1{
        width: 114%;
    }

    .ourspace{
        margin-top: -57px;
    }

    .satu {
        padding-top: 60px;
    }

    .title h1{
        font-size: 18px;
        line-height: 1.25em;
    }

    .hidari h5{
        font-size: 18px;
        margin: 0 0 2px 0;
    }

    .hidari p{
        font-size: 11px;
        padding-bottom: 24px;
    }

    .test p{
        margin: 20px 0 0 0;
    }

    .pic .uwau {
        width: 160px;
        margin-bottom: 63px;
    }

    .promo .left h2{
        font-size: 18px;
    }

    .promo .left {
        margin-top: 90px;
    }

    .text p{
        margin: 20px 0 0 0;
        padding: 0 0 15px 0;
    }

    form .email {
        font-size: 14px;
        padding: 10px 85px 10px 15px;
    }

    form button {
        font-size: 14px;
        right: 27px;
        margin: 9px;
        padding: 3px 12px;
    }

    .promo .right .promoimg{
        width: 216px;
        margin-left: -96px;
    }

    .desc h3{
        font-size: 14px;
    }

    .desc p{
        font-size: 13px;
        margin: 25px 25px 0 0;
    }

    .info .empat{
        font-size: 13px;
    }

    .pilihan{
        font-size: 14px;
        margin-top: 20px;
    }

    .imglogo img{
        padding-right: 20px;
    }

    .monial h5{
        font-size: 14px;
        margin-top: -51px;
    }

    .monial h2{
        font-size: 16px;
        line-height: 1.5em;
    }

    .number1{
        padding: 0;
    }

    .number2{
        padding: 0;
    }

    .row {
        flex-direction: column;
        box-sizing: border-box;
    }

    .testimoni .profile {
        width: 100%;
        margin: 0 0 20px 0;
        padding-bottom: 110px;
    }


}